/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #108d7c;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #eeeed9;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #eeeed9;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #eeeed9;
    background-color: #901717;
    color: #eeeed9;
  
  
  }
  
  .form-group input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #901717;
    color: #eeeed9;
    border-radius: 5px;
    border: 1px solid #eeeed9;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #434a89;
  }