<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #108d7c;
            margin: 0;
            padding: 0;
            color: #eeeed9;
        }
        

    </style>
    <title>Deleted</title>
</head>
<body>
    <h1><center>DELETED</center></h1>
    <br>
    <a href="http://127.0.0.1:8000/stock/index/">go back to home</a>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/stock/list2/">click here to edit more products</a>
</body>
</html>